*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h6, p {
  margin: 0;
}
button {
  cursor: pointer;
  font: inherit;
}
 input[type="date"]::-webkit-calendar-picker-indicator {
   opacity: 0;
   display: none;
 }
 input[type="date"] {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: textfield;
 }
